.contents  
  .row-fluid
    .span12
      .widget_wrapper
        .widget_header
          %h3{:class => 'i_contact'}
            New institution
        %div{:class => "widget_content  no-padding"}
          = render_cell :institution, :form, :institution => School.new

