.contents
  .row-fluid
    .span6
      %div{:class => 'ico_16_dashboard content_header'}
        %h3
          Dashboard
  .separator
    %span
  .row-fluid
    .span12
      .widget_wrapper
        %div{:class => "widget_content"}
          %h3
            Stay Tuned. Soon you will be able to search the RecruitedOne.com Talent Pool and Facebook Athletic Profiles. Easily search the huge database -by any criteria you desire- and recruit for your roster or your camp right from your dashboard.