= semantic_form_for @mass_interaction, :url => mass_interactions_path do |f|
  = render_cell :interaction, :form_fields, :interaction => @interaction, :mass_interaction => @mass_interaction, :f => f

