.contents  
  .row-fluid
    .span12
      .widget_wrapper
        .widget_header
          %h3
            Editing
            = @account.name
        %div{:class => "widget_content contents"}
          = render 'form'

