.contents
  .row-fluid
    .span6
      %div{:class => 'content_header'}
        %h3
          Edit Task
  .separator
    %span
  .row-fluid
    .span12
      .widget_wrapper
        %div{:class => "widget_content no-padding"}
          = render "form"
