.contents  
  .row-fluid
    .span12
      .register-page
        .widget_wrapper
          .widget_header
            %h3{:class => 'i_contact'}
              List of Plans for Coachs to sign in
          %div{:class => "widget_content contents"}
            %ul
              - %w(basic premium).each do |plan|
                %li
                  = link_to plan.titleize, registration_plans_path(plan)
            %div  
              %span 
                Get Started Today
