%div{:class => "actions textCenter"}
  %ul
    %li
      %a{:href => tournaments_path}
        =image_tag("/assets/icons/gray/glyphicons_113_justify.png")
        Upcoming
    %li
      %a{:href => past_tournaments_path}
        =image_tag("/assets/icons/gray/glyphicons_113_justify.png")
        Past
