$sidebar-columns: 8;
$content-columns: 38;
$gap: 5px;


$header-bkgd: #091c5a;
$page-bkgd: #f5f5f5;
$header-text: #fff;
$header-tab-bkgd: #526E9F;
$header-tab-hover: #F84500;
$highlight: #FFFBD5;
$border:#dfdfdf;

$tableheader:#526E9F;
$tableheader-sort:#6b8ecb;
$row-odd:#fff;
$row-even:#f7f7f7;


