.contents  
  .row-fluid
    .span12
      .widget_wrapper
        .widget_header
          %h3{:class => 'i_contact'}
            New Report
        %div{:class => "widget_content contents"}
          = render 'form'

